<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="font-weight-light">Welcome to the Jenkins X | Rollout QuickStart</h1>
        <p class="lead">This QuickStart demonstrates how you can display or hide a UI element based on the Jenkins X Environment this app is running on.  In this example, we show a big button in the middle, if this app is deployed to the Staging environment.</p>
        <% if(renderButton) {%>
          <button type="button" class="btn btn-warning btn-lg"><i class="fa fa-home"></i>I am only shown in the Staging Environment in Jenkins X</button>
        <% } %>
        <div style="height: 400px"></div>
      </div>
    </div>
  </div>
  <footer>
      <% include ../partials/footer %>
  </footer>
  </body>   
</html>
